# Core ML
# torch, torchvison, and torchaudio in base image (add if images switched)
numpy<2.0
opencv-python
pillow
pycocotools

# Yolo Models
ultralytics

# Experiment Tracking and Visualization
mlflow
matplotlib
seaborn
pandas
tqdm
pyyaml

# Utilities
ipykernel
scipy
